<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   <meta charset="UTF-8">
   <title>Way Farer | The modern bus booking service</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="description" content="Andela Way Farer Project">
   <meta name="author" content="Abel Lifaefi Mbula">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">   
   <link rel="stylesheet" href="../css/style.css" type="text/css">

   <!--[if lt IE 9]>
        <script src="js/html5shim.js"></script>
   <![endif]-->
</head>
<body>

      <header>
         <a href="../index.html"><img src="" alt="logo"></a>
         <nav>
            <a href="./register.html">Sign up</a>
            <a href="./login.html">Login</a>
         </nav>
      </header>

   <div class="wrapper trip-detail">
      <div>
         <h1>Mangobo » Kisangani</h1>
         <p id="num-trips"> # trips available from Mangobo to Kisangani</p>
      </div>
      <section>
         <article id="first-trip">
            <p class="time-go">15:00</p>
            <p class="time-ar">16:00</p>
            <p class="trip-or">Mangobo</p>
            <p class="trip-de">Kisangani</p>
            <p class="bus-im"><img src="#" alt="bus img"></p>
            <p class="bus-na">AAAAC</p>
            <p class="seat-av">20<br>seats available</p>
         </article>
         <article id="second-trip">
            <p class="time-go">15:00</p>
            <p class="time-ar">16:00</p>
            <p class="trip-or">Mangobo</p>
            <p class="trip-de">Kisangani</p>
            <p class="bus-im"><img src="#" alt="bus img"></p>
            <p class="bus-na">AAAAC</p>
            <p class="seat-av">20<br> seats available</p>
            </article>
         <article id="first-trip">
            <p class="time-go">15:00</p>
            <p class="time-ar">16:00</p>
            <p class="trip-or">Mangobo</p>
            <p class="trip-de">Kisangani</p>
            <p class="bus-im"><img src="#" alt="bus img"></p>
            <p class="bus-na">AAAAC</p>
            <p class="seat-av">20<br> seats available</p>
         </article>
      </section>
      
   </div>
   
      <!-- Footer -->
      <footer class="footer container">
         <p>&copy; 2019 Code and design width ❤ by <a href="www.abelmbula.com">Abel</a></p>
      </footer>    

  <script src="../js/app.js"></script>
</body>
</html>
