/* Typography imported from Google */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

p, a {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Generic styles */
html {
    scroll-behavior: smooth;
    
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#logo-txt-rt {
    color: #fff;
    padding: 5px;
}

#logo-bckgnd {
    background: #00AFF5;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 4rem;
    padding-bottom: 1rem;
}

a:hover, input[type="submit"]:hover {
    opacity: .6;
  }

.container {
    padding: 0px 10%;
}
  /*------ header ------*/
.plain-list {
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    
    
}

.plain-list a {color: #fff;}

header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.top-header {
    grid-row: 1;
    background: #00AFF5;
    
}

.top-header-content, .nav-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 15px;
}

.top-header-lt, .nav-lt {
    grid-column: 1;
}

.top-header-rt, .nav-rt {
    grid-column: 2;
    justify-self: end;
}

.nav-rt a {color: #00AFF5;}
.main-nav {
    grid-row: 2;
    box-shadow: 0 1pt 4pt rgba(0,0,0,0.16), 0 2pt 8pt rgba(0,0,0,0.08);
}

header a {grid-column: 1;}
header nav {grid-column: 2;}

.main p {
    font-size: 1.5rem;
    font-weight: 200;
}

.main a {
    padding: 1rem;
    margin-top: .75rem;
    color: #ffffff;
    border-radius: 5px;
    background: #00AFF5;
}

#main-entry-bckgrnd {
    background-image: url("../images/background.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.main {
    color: #ffffff;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    place-items: center;
}

.main p {
    font-size: 1.5rem;
    font-weight: 200;
}

.main a, input[type="submit"] {
    padding: 1rem;
    margin-top: .75rem;
    color: #ffffff;
    border-radius: 5px;
    background: #00AFF5;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

.quick-booking {
    background-color: #5dd167 !important;
}

.quick-booking article {
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;   
    color: white;
    place-items: center;
}

#browse-trips {
    display: block;
    text-align: right;
}

.list__trips {
    display: grid;
    grid-template-columns: repeat(3, minmax(180px,1fr));
    grid-gap: 1rem;
    place-items: stretch center;
}

.list__trips li  {
    text-align: center;
    margin-top: .75rem;   
    border-radius: 5px;
    background: #fff;
    padding: 1rem;
    list-style-type: none;
}

.trips__all, .trips__all__hide  {
    display: none;
}

/*-------- FOOTER ------*/
.footer {
    text-align: center;
    background-color: #ededed;
    padding: 10px 15px;
}

/*------------- Sign up page ---------*/
input {
    width: 80vh;
    border-radius: 5px;
    padding: 1rem;
    margin-top: .75rem;
}

input, input::placeholder {
  text-align: center;
}

.inputError {
    color: red;
}

/*---------- User Dashboard --------------*/
.user__avatar__small {
    width: 37px;
    height: 37px;
    
}

.user__avatar {
    width: 50px;
    height: 50px;
    
}

.user__avatar img, .user__avatar__small img {
    width: 100%;
    border-radius: 50%;
}

.navigation__list {
    display: flex;
    flex-direction: row;
}

.navigation__item {
    list-style: none;
}

.menu__hide {
    display: none;
}

/*---------- Trip detail ------------*/
.wrapper {
    min-height: calc(100vh - 165px);
    /* 80px header + 55px footer*/
}

.trip-detail {
    width: 60%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    
}

.book-now {
    grid-template-columns: 25% 70%;
    grid-gap: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.book-now section {
    height: 35vh;
}

.book-now aside {
    border: 1px solid #ddd;
    border-radius: 3px;
    grid-column: 1 / 2;
    height: 35vh;
}

.book-now aside div {
    border-top: 1px solid #ddd;
}

#num-trips {text-align: center;}

.trip-detail article {
    border-radius: 16px;
    box-shadow: 0 1pt 4pt rgba(0,0,0,0.16), 0 2pt 8pt rgba(0,0,0,0.08);
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 20% 40% 50%;
    place-items: center;
    width: 100%;
}

/* ===== trip detail: 1st row =====*/
.time-go, .trip-or, .seat-av {
    grid-row: 1 / 2;
}

/* ===== trip detail: 2nd row =====*/
.time-ar, .trip-de {
    grid-row: 2 / 3;
}

/* ===== trip detail: 3rd row =====*/
.bus-im, .bus-na {
    grid-row: 3 / 4;
}

.time-go, .time-ar, .bus-im {
    grid-column: 1 / 2;
    
}

.trip-or, .trip-de, .bus-na {
    grid-column: 2 / 3;
    
}

.seat-av {
    grid-column: 3 / 4;
    text-align: center;
}

/*---------- Responsive -------------*/
@media (max-width: 284px) { 
    .list__trips {
        grid-template-columns: 1fr;
        place-items: center;
        grid-gap: 0rem;
    }

    .quick-booking, .main {
        padding: 2rem 1rem;
        text-align: center;
    }

    .main {
        height: fit-content;
    }

    .main p {
        font-size: 1.2rem;
        font-weight: 150;
    }

    h1 {
        font-size: 2rem;
        padding-bottom: .5rem;
    }
 }