/* Typography imported from Google */
@import url('https://fonts.googleapis.com/css?family=Gothic+A1&display=swap');

body {
  font-family: 'Gothic A1', sans-serif;
}

/* Generic styles */
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

a:hover, input[type="submit"]:hover {
  opacity: .6;
  }

.container {
  padding: 0px 10%;
}

.trip__container {
  min-height: 100%;
}
  /*------ header ------*/
.plain-list {
  list-style-type: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.plain-list a {color: #fff;}

header {
  background: #00AFF5;
  height: 5.6rem;
  display: grid;
  align-items: center;
  color: #fff;
}

.main-nav {
  /*grid-row: 2;*/
  box-shadow: 0 1pt 4pt rgba(0,0,0,0.16), 0 2pt 8pt rgba(0,0,0,0.08);
  height: 6rem;
  display: flex;
  align-items: center;
  color: #fff;
  background: #00AFF5;
}

.nav-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1rem;
  text-transform: uppercase;
  color: #ffffff;
}

.nav-rt {
  grid-column: 2;
}

.nav-rt a {
  margin-right: .9rem;
}

.top-header-lt, .nav-lt {
    grid-column: 1;
}

.top-header-rt, .nav-rt {
    grid-column: 2;
    justify-self: end;
}

.nav-rt a, #txt__logo {color: #fff;}

#sub__menu {
  list-style-type: none;
}

.profile__user {
  display: flex;
  flex-direction: row;
}

/*-------- Popover menu --------------*/
.popover__menu:before {
  content: "";
  width: 12px;
  height: 12px;
  border-top: 1px solid rgba(0,0,0,.2);
  border-right: 1px solid rgba(0,0,0,.2);
  position: absolute;
  top: -7px;
  right: 90px;
  background-color: #fff;
  z-index: 2;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.popover__menu {
  display: none;
  width: 200px;
  position: absolute;
  right: 60px;
  top: 85px;
  background-color: #fff;
  border-color: rgba(0,0,0,.2);
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  color: #00AFF5;
  text-transform: none;
}

.popoger__menu__item {
  margin-bottom: 10px;
}

.popoger__menu__item a {
  color: #00AFF5;
}

.menu__sub__wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

.main p {
  font-size: 1.5rem;
  font-weight: 200;
}

.main a {
  padding: 1rem;
  margin-top: .75rem;
  color: #ffffff;
  border-radius: 5px;
  background: #00AFF5;
}

#main-entry-bckgrnd {
  background-image: url("../images/background.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 75vh;
  display: grid;
  align-items: center;
}

.main {
  color: #ffffff;
  /*display: flex;
  align-items: center;*/

}

#main__landing {
  text-align: center;
}

.main a, input[type="submit"] {
  padding: 1rem;
  margin-top: .75rem;
  color: #ffffff;
  border-radius: 5px;
  background: #00AFF5;
  text-transform: uppercase;
}

.auth__wrapper {
  background: hsla(0,0%,100%,.3);
  /*padding: 50px 44px 0;*/
  border: 1px solid #00AFF5;
  border-radius: 4px;
  display: grid;
  align-items: center;
  width: 80vh;
  margin: auto;
}

.auth__content {
  /*margin: auto;*/
  padding: 15px;
  text-align: center;
}

.auth__content h2 {color: #fff;}

.list__trips {
    display: grid;
    grid-template-columns: repeat(3, minmax(180px,1fr));
    grid-gap: 1rem;
    place-items: stretch center;
}

.list__trips li  {
  text-align: center;
  margin-top: .75rem;
  border-radius: 5px;
  background: #fff;
  padding: 1rem;
  list-style-type: none;
}

.trips__all, .trips__all__hide  {
  display: none;
}

/*-------- FOOTER ------*/
.footer {
  text-align: center;
  background-color: #ededed;
  /*padding: 10px 15px;*/
  height: 5rem;
  bottom: 0;
  /*position: absolute;*/
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;

}

/*------------- Sign up page ---------*/
input {
    width: 70vh;
    border-radius: 5px;
    padding: 1rem;
    margin-top: .75rem;
}

input, input::placeholder {
  text-align: center;
}

.inputError {
    color: red;
}

/*---------- User Dashboard --------------*/
.user__avatar__small {
  width: 37px;
  height: 37px;
}

.user__avatar {
  width: 50px;
  height: 50px;
}

.user__avatar img, .user__avatar__small img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation__item {
  list-style: none;
}

.menu__hide {
  display: none;
}

/*---------- Trip detail ------------*/
.summary__booking {
  color: #fff;
}

.summary__booking .sub__title{
  font-weight: bold;
}
.wrapper__trip {
  display: flex;
 /* grid-template-columns: 1fr 3fr;*/
 flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.trip__entry {
  min-height: 75vh;
}

.wrapper__trip aside {
  width: 15%;
}

.wrapper__trip section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 75%;
}

.card__trip {
  border-radius: 16px;
  box-shadow: 0 1pt 4pt rgba(0,0,0,0.16), 0 2pt 8pt rgba(0,0,0,0.08);
  min-width: 15rem;
  height: 15rem;
  margin-bottom: 35px;
}

.card__trip:hover {
  box-shadow: none;
}

.card__trip__bloc1 {
  height: 50%;
  border-bottom: 1px solid #00AFF5;
}

.card__trip__txt {
  text-align: center;
}

.card__trip__txt[type='button'], td p[type='button']  {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  border-radius: 5px;
  background: #00AFF5;
  text-transform: uppercase;
  padding: 10px;
}

td p[type='button'] {
 text-align: center;
 width: 100%;
}

/* ----- Modal ------*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.modal-body {
  text-align: center;
  /*margin-left: auto;
  margin-right: auto;*/
}

.modal-header {
  text-align: center;
  background: #00AFF5;
  color: #fff;
  padding: 5px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.card__trip__txt[type='button'] {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  border-radius: 5px;
  background: #00AFF5;
  text-transform: uppercase;
  padding: 10px;
}
.title__trip {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 10px;
  text-transform: uppercase;
  color: #00AFF5;
  background-color: #fff;
  border: .125rem solid transparent;
}

.trip-detail {
  width: 60%;
  min-height: 75vh;
}

.bookings {
  margin-left: auto;
  margin-right: auto;
}

.book-now {
  grid-template-columns: 25% 70%;
  grid-gap: 15px;
  margin-bottom: 15px;
  margin-top: 30px;
  text-align: center;
}

.book-now section {
    height: 35vh;
}

.book-now aside {
    border: 1px solid #ddd;
    border-radius: 3px;
    grid-column: 1 / 2;
    height: 35vh;
}

.book-now aside div {
    border-top: 1px solid #ddd;
}

.title-center {text-align: center;}

.trip-detail article {
    border-radius: 16px;
    box-shadow: 0 1pt 4pt rgba(0,0,0,0.16), 0 2pt 8pt rgba(0,0,0,0.08);
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 20% 40% 50%;
    place-items: center;
    width: 100%;
}

/* ===== trip detail: 1st row =====*/
.time-go, .trip-or, .seat-av {
    grid-row: 1 / 2;
}

/* ===== trip detail: 2nd row =====*/
.time-ar, .trip-de {
    grid-row: 2 / 3;
}

/* ===== trip detail: 3rd row =====*/
.bus-im, .bus-na {
    grid-row: 3 / 4;
}

.time-go, .time-ar, .bus-im {
    grid-column: 1 / 2;

}

.trip-or, .trip-de, .bus-na {
    grid-column: 2 / 3;

}

.seat-av {
    grid-column: 3 / 4;
    text-align: center;
}

/*--------- Booked trips -----------*/
.bookings section {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

table  {
  width: 100%;
  margin-bottom: 25px;
}

table, th, td  {
  border: 1px solid #00AFF5;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
}

table tr:nth-child(even) {
  background-color: #eee;
}

table tr:nth-child(odd) {
 background-color: #fff;
}

table th {
  background-color: #00AFF5;
  color: #fff;
}

table .card__trip__bloc1 {
  color: #fff;
  text-align: center;
}

/*---------- Responsive -------------*/
/* For purpose of my responsive site I stick on the same breakpoints
as defined by Bootstrap*/

@media all and (max-width: 1140px)  { /* Extra Large */
  #main-entry-bckgrnd {
    min-height: 120vh;
  }

  h1 {
    font-size: 7rem;
    padding-bottom: 3rem;
  }

  .nav-content {
    font-size: 5rem;
  }

  .main p {
    font-size: 4rem;
    font-weight: 200;
  }
}

@media all and (max-width: 992px)  { /* Large */
  #main-entry-bckgrnd {
    min-height: 80vh;
  }

  h1 {
    font-size: 5rem;
    padding-bottom: 2rem;
  }

  .nav-content {
    font-size: 2rem;
  }

  .main p {
    font-size: 3rem;
    font-weight: 200;
  }
}

@media all and (max-width: 768px)  { /* Medium */
  #main-entry-bckgrnd {
    min-height: 80vh;
  }

}

@media all and (max-width: 540px)  { /* Small */

  h1 {
    font-size: 2rem;
  }

  .main p {
    font-size: .7rem;
  }


}

@media (max-width: 284px) {
    .list__trips {
        grid-template-columns: 1fr;
        place-items: center;
        grid-gap: 0rem;
    }

    .quick-booking, .main {
        padding: 2rem 1rem;
        text-align: center;
    }

    .main, #main-entry-bckgrnd {
        height: fit-content;
    }

    .main p {
        font-size: 1.2rem;
        font-weight: 150;
    }

    h1 {
        font-size: 2rem;
        padding-bottom: .5rem;
    }
 }
